Last login: Sat Apr  2 10:39:03 on ttys000
-lqfdeMacBook-Air:~ lqf$ python exe1.py
python: can't open file 'exe1.py': [Errno 2] No such file or directory
-lqfdeMacBook-Air:~ lqf$ cs Documents/
-bash: cs: command not found
-lqfdeMacBook-Air:~ lqf$ cd Documents
-lqfdeMacBook-Air:Documents lqf$ ls
Microsoft User Data	video			百度云同步盘
job			workspace
myPython		学习
-lqfdeMacBook-Air:Documents lqf$ cd myPython
-lqfdeMacBook-Air:myPython lqf$ python exe1,py
python: can't open file 'exe1,py': [Errno 2] No such file or directory
-lqfdeMacBook-Air:myPython lqf$ python wx1.py
python: can't open file 'wx1.py': [Errno 2] No such file or directory
-lqfdeMacBook-Air:myPython lqf$ python ex1.py
  File "ex1.py", line 42
    print "your name is %s", %name
                             ^
SyntaxError: invalid syntax
-lqfdeMacBook-Air:myPython lqf$ python ex1.py
  File "ex1.py", line 42
    print "your name is %s", %name
                             ^
SyntaxError: invalid syntax
-lqfdeMacBook-Air:myPython lqf$ python ex1.py
  File "ex1.py", line 42
    print "your name is %r", %name
                             ^
SyntaxError: invalid syntax
-lqfdeMacBook-Air:myPython lqf$ python ex1.py
  File "ex1.py", line 42
    print "your name is %r", %name2
                             ^
SyntaxError: invalid syntax
-lqfdeMacBook-Air:myPython lqf$ python ex1.py
Hello World!
wow
addition 9
True
43
2
2.25
2.25
2.25
30
i have 30
my name is chang lyu
my name is chang lyu and I have 30 car
my name is chang lyu
chang lyu femal
chang lyuchang lyuchang lyuchang lyuchang lyuchang lyu
......
days: Mon Tue Wed Thy Fri Sat Sun
months Jan
 Feb 
 Mar

Line1 to print
Line2 to print

How old are you? 48
How tall are you? 34
How much do you weigh? 35
So, you're '48' old, '34' tall and '35' heavy.
-lqfdeMacBook-Air:myPython lqf$ python ex1.py
Hello World!
wow
addition 9
True
43
2
2.25
2.25
2.25
30
i have 30
my name is chang lyu
my name is chang lyu and I have 30 car
my name is chang lyu
chang lyu femal
chang lyuchang lyuchang lyuchang lyuchang lyuchang lyu
......
days: Mon Tue Wed Thy Fri Sat Sun
months Jan
 Feb 
 Mar

Line1 to print
Line2 to print

your name ? ^[[A
So, you're '\x1b[A' old
-lqfdeMacBook-Air:myPython lqf$ python ex1.py
Hello World!
wow
addition 9
True
43
2
2.25
2.25
2.25
30
i have 30
my name is chang lyu
my name is chang lyu and I have 30 car
my name is chang lyu
chang lyu femal
chang lyuchang lyuchang lyuchang lyuchang lyuchang lyu
......
days: Mon Tue Wed Thy Fri Sat Sun
months Jan
 Feb 
 Mar

Line1 to print
Line2 to print

your name ? chang
So, you're 'chang' old
-lqfdeMacBook-Air:myPython lqf$ python ex1.py
Hello World!
wow
addition 9
True
43
2
2.25
2.25
2.25
30
i have 30
my name is chang lyu
my name is chang lyu and I have 30 car
my name is chang lyu
chang lyu femal
chang lyuchang lyuchang lyuchang lyuchang lyuchang lyu
......
days: Mon Tue Wed Thy Fri Sat Sun
months Jan
 Feb 
 Mar

Line1 to print
Line2 to print

your name ? ^[[A
So, your name is '\x1b[A' 
-lqfdeMacBook-Air:myPython lqf$ python ex1.py
Hello World!
wow
addition 9
True
43
2
2.25
2.25
2.25
30
i have 30
my name is chang lyu
my name is chang lyu and I have 30 car
my name is chang lyu
chang lyu femal
chang lyuchang lyuchang lyuchang lyuchang lyuchang lyu
......
days: Mon Tue Wed Thy Fri Sat Sun
months Jan
 Feb 
 Mar

Line1 to print
Line2 to print

your name ? ^[[A
So, your name is '\x1b[A' 
-lqfdeMacBook-Air:myPython lqf$ python ex1.py
Hello World!
wow
addition 9
True
43
2
2.25
2.25
2.25
30
i have 30
my name is chang lyu
my name is chang lyu and I have 30 car
my name is chang lyu
chang lyu femal
chang lyuchang lyuchang lyuchang lyuchang lyuchang lyu
......
days: Mon Tue Wed Thy Fri Sat Sun
months Jan
 Feb 
 Mar

Line1 to print
Line2 to print

your name ? ^[[A^[[A^[[A
So, your name is '\x1b[A\x1b[A\x1b[A' 
-lqfdeMacBook-Air:myPython lqf$ python ex1.py
Hello World!
wow
addition 9
True
43
2
2.25
2.25
2.25
30
i have 30
my name is chang lyu
my name is chang lyu and I have 30 car
my name is chang lyu
chang lyu femal
chang lyuchang lyuchang lyuchang lyuchang lyuchang lyu
......
days: Mon Tue Wed Thy Fri Sat Sun
months Jan
 Feb 
 Mar

Line1 to print
Line2 to print

your name ? chang
So, your name is 'chang' 
what is your friend's name? lyu
your friend's name is 'lyu'
-lqfdeMacBook-Air:myPython lqf$ python ex1.py
Hello World!
wow
addition 9
True
43
2
2.25
2.25
2.25
30
i have 30
my name is chang lyu
my name is chang lyu and I have 30 car
my name is chang lyu
chang lyu femal
chang lyuchang lyuchang lyuchang lyuchang lyuchang lyu
......
days: Mon Tue Wed Thy Fri Sat Sun
months Jan
 Feb 
 Mar

Line1 to print
Line2 to print

your name ? chang
So, your name is 'chang' 
what is your friend's name? lyu
your friend's name is 'lyu'
what is your age34
your age is '34'
-lqfdeMacBook-Air:myPython lqf$ quit()
> pydoc raw_input
-bash: syntax error near unexpected token `pydoc'
-lqfdeMacBook-Air:myPython lqf$ cd Doc
-bash: cd: Doc: No such file or directory
-lqfdeMacBook-Air:myPython lqf$ pydoc raw_input

-lqfdeMacBook-Air:myPython lqf$ pydoc raw_input

-lqfdeMacBook-Air:myPython lqf$ 
-lqfdeMacBook-Air:myPython lqf$ python ex1.py
Hello World!
wow
addition 9
True
43
2
2.25
2.25
2.25
30
i have 30
my name is chang lyu
my name is chang lyu and I have 30 car
my name is chang lyu
chang lyu femal
chang lyuchang lyuchang lyuchang lyuchang lyuchang lyu
......
days: Mon Tue Wed Thy Fri Sat Sun
months Jan
 Feb 
 Mar

Line1 to print
Line2 to print

your name ? 
